server {
    server_name example.com;
    # !!! UNABLE TO REWRITE: 
    # RewriteCond %{HTTP:Authorization} .
    # RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    location / {
        try_files $uri/ /%1$is_args$args;
    }
    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }
}
